# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# =========================
# Data files
# =========================
*.csv
*.xlsx
*.parquet

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Temp files
# =========================
*.tmp
*.temp